doctype html
html
    head
        title Railway System
        block style
        
    body
        div.container
            nav
                ul
                    li.list #[a(href="/") Home]
                    li.list #[a(href="/services") Services]
                    li.list #[a(href="/login") Log-In]
                    li.list #[a(href="/booking") Booking]
                    li.list #[a(href="/payments") Payments]
                    li.list #[a(href="/contact") ContactUs]
        block content
        footer#footer
            |Copyright &copy; www.RailwayReservation.com. All rights reserved!
