<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Railway System</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li class="list"><a href="/">Home</a></li>
                <li class="list"><a href="/services">Services</a></li>
                <li class="list"><a href="/login">Log-In</a></li>
                <li class="list"><a href="/booking">Booking</a></li>
                <li class="list"><a href="/payments">Payments</a></li>
                <li class="list"><a href="/contact">ContactUs</a></li>
            </ul>
        </nav>
    </div>
    <div class="middle">
        <section id="section1">
            <div>
                <h1>Welcome to Best RailwayReservation Centre In India</h1>
            </div>
            <div>
                <p>We Assure the Journey of yours will be Full of Joy</p>
            </div>
        </section>
    </div>
    <section id="section2">
        <div class="primary" id="sec">
            <h1>Services</h1>
        </div>
        <div class="content">
            <div class="box" id="box1">
                <h1>BUS</h1>
            </div>
            <div class="box" id="box2">
                <h1>TRAIN</h1>
            </div>
            <div class="box" id="box3">
                <h1>CAB</h1>
            </div>
            <div class="box" id="box4">
                <h1>FLIGHT</h1>
            </div>
        </div>
        <div id="para">
            <p>Here are Awesome Services CheckIt Out Now!!!</p>
        </div>
    </section>
    <section id="section3">
        <div class="primary">
            <h1>LOG-IN</h1>
        </div>
        <div class="formgroup">
            <form action="" method="post">
                <input type="text" name="text" placeholder="ENTER YOUR NAME">
                <input type="age" name="age" placeholder="ENTER YOUR AGE">
                <input type="gender" name="gender" placeholder="ENTER YOUR GENDER">
                <input type="email" name="email" placeholder="ENTER YOUR EMAIL">
                <input type="password" name="password" placeholder="ENTER YOUR PASSWORD">
                <textarea name="more" id="more" cols="30" rows="5" placeholder="MESSAGE"></textarea>
                <button class="btn">SIGN IN</button>
            </form>
        </div>
    </section>
    <section id="section4">
        <div class="primary">
            <h1>Payments</h1>
        </div>
        <div class="paymentgate">
            <div class="pay">
                <form action="" method="POST">
                    <label for="number1">Card Number:</label>
                    <input type="number" name="number1" placeholder="xxxx xxxx xxxx xxxx">
                    <label for="date">Expiry Date:</label>
                    <input type="date" name="date">
                    <label for="number2">Cvc:</label>
                    <input type="number" name="number2" placeholder="xxx" min="000" max="999">
                    <label for="CardholderName">CardHolderName</label>
                    <input type="CardholderName" name="CardholderName" placeholder="Full Name">
                    <button class="btn">Pay Now</button>
                </form>
            </div>
        </div>
    </section>
    <div>
        <footer id="footer">Copyright &copy; www.RailwayReservation.com. All rights reserved!</footer>
    </div>
</body>

</html>