extends base.pug

block style
    style
        include ../static/style.css

block content
    <section id="section2">
        <div class="primary" id="sec">
            <h1>Services</h1>
        </div>
        <div class="content">
            <div class="box" id="box1">
                <h1>BUS</h1>
            </div>
            <div class="box" id="box2">
                <h1>TRAIN</h1>
            </div>
            <div class="box" id="box3">
                <h1>CAB</h1>
            </div>
            <div class="box" id="box4">
                <h1>FLIGHT</h1>
            </div>
        </div>
        <div id="para">
            <p>Here are Awesome Services CheckIt Out Now!!!</p>
        </div>
    </section>