doctype html
html
    head
        title Anil Dance Academy
        block style
        block script
    body
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
        block content
        footer#footer
           |Copyright &copy; www.myOnlineMeal.com. All rights reserved!     