
<div class="container" id="container-id">
    {{!-- <header class="primary-Container">
        <h1>Welcome Champ!!!</h1>
    </header> --}}
    <div class="box" id="box1">
        <div class="content"id="content-id">
            <center>
                <h2>New here?</h2>
            </center>
            <h4>Doesn't Have an Account yet:</h4>
            <button class="btn" id="btn-primary" onclick="translate1()">SIGN UP</button>
        </div>
    </div>
    <div class="sign" id="sign-id">
            <center>
                <h1>Sign in</h1>
            </center>
            <div>
                <i class="fas fa-user"></i>
                <input type="text" id="name" placeholder="Username">
            </div>
            <div>
                <i class="fas fa-key"></i>
            <input type="Password" id ="password" placeholder="Password">
            </div>
            <button class="btn" id ="btn-secondary" onclick="">LOGIN</button>
            <p>or Sign in with social platforms</p>
            <div class="icon">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-google"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
    </div>
</div>